
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

.idea
/config/google/*.json
!/public/uploads/slides/.gitkeep
/public/uploads/slides/
/public/uploads/partenaires/
!/public/uploads/partenaires/.gitkeep
/public/uploads/qsn
!/public/uploads/qsn/.gitkeep
/public/uploads/pages
!/public/uploads/pages/.gitkeep
