@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://unpkg.com/aos@2.3.1/dist/aos.css");
:root{
    --color-gris: #383c4f;
    --color-gris-clair: #9aa9b5;
    --color-bleu-clair: #94b9e3;
    --color-bleu-gris: #5c91bf;
    --color-bleu-principal: #0670b8;
    --color-vert: #0d855d;
    --text-family-poppins: 'Poppins', sans-serif;
    --text-family-roboto: 'Roboto', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
}

.btn-main{
    background-color: var(--color-bleu-principal);
    color: white;
    border: none;
}

.btn-main:hover{background-color: var(--color-bleu-principal);
    color: white;
    opacity: 0.8;
    transition: all 500ms ease-in-out;
}

.btn-vert {
    background-color: var(--color-vert);
    color: white;
    border: none;
}

.btn-vert:hover {
    background-color: var(--color-vert);
    color: white;
    opacity: 0.8;
    transition: all 500ms ease-in-out;
}


.bg-gris{
    background: var(--color-gris);
    color: white;
}
.top-head{
    border-top: solid 5px var(--color-bleu-clair);
}

.top-head a{
    color: var(--color-gris-clair);
    transition: all 1s ease-in-out;
}
.top-head a:hover{
    color: white;
}
.top-head .btn:hover{
    background-color: var(--color-bleu-clair);
}

.accroche{
    font-family: 'Poppins', sans-serif;
        color: var(--color-vert);
        font-weight: 600;
        cursor: pointer;
}

a.nav-link{
    font-weight: 500;
    font-size: 1.1rem;  
}

a.nav-link:hover{
    color: var(--color-bleu-gris);
}

.navbar .dropdown-menu{
    border-radius: 0;
}

.dropdown:hover .dropdown-menu{
    display: block;
    transition: all 500ms ease-in-out;
}

.slider .carousel-item{
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.slider .carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.actualite-item img{
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.actualite-item:hover img{
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

.statistiques-item .card{
    background-color: #E5E5E5;
}

.section-content{
    line-height: 1.75rem;
}

.section-content div{
    padding-bottom: 10px;
}

.presentation-illustration{
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation-illustration figure{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 1s ease-in-out;
    border: solid 1px var(--color-bleu-principal);
    display: flex;
    justify-content: center;
    align-items: center;;
}

.presentation-illustration img{
    width: 380px;
    height: 380px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 1s ease-in-out;
}

.presentation-illustration img:hover{
    transform: scale(1.1);
    transition: all 1s ease-in-out;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .presentation-illustration figure{
        width: 300px;
        height: 300px;
    }
    .presentation-illustration img{
        width: 280px;
        height: 280px;
    }
}
@media screen and (max-width: 424px) {
    .presentation-illustration figure {
        width: 250px;
        height: 250px;
    }

    .presentation-illustration img {
        width: 230px;
        height: 230px;
    }
}

footer{
    background: var(--color-gris);
    border-top: solid 5px var(--color-bleu-clair);
    color: rgb(175, 174, 174);
    margin-top: 100px;
}

footer a.nav-link{
    text-decoration: none;
    color: rgb(175, 174, 174);
    transition: all 1s ease-in-out;
    font-weight: 400;
    font-size: 1rem;
}

footer a.nav-link i{
    color: var(--color-bleu-gris)
}

footer .copyright{
    font-size: 0.9rem;
    border-top: solid 0.05rem var(--color-gris-clair);
}
footer .copyright a{
    text-decoration: none;
    color: rgb(175, 174, 174);
    transition: all 1s ease-in-out;
}
